// ======================
// Imports
// ======================

// Load config files
@import "../../node_modules/bolt/src/bolt-config.scss";
@import "../../styles/final-config.scss";

// Load cores
@import "../../node_modules/bolt/src/bolt.scss";
@import "../../styles/final.scss";

// ======================
// Custom code just for test
// ======================

// Code
code {
  font-family: 'Source Code Pro', monospace;
  background-color: whitesmoke !important;
  border-radius: $border-radius-2 !important;
  font-size: 14px;
  padding: 0 30px !important;
  margin: 0;
}
.btn {
  margin: 5px;
}
