@mixin make-buttons {
  @each $color in $button-colors {
    .btn--#{nth($color, 1)} {
      color: white;
      background-color: nth($color, 2);
    }
  }
}

// Disabled
.btn.is-disabled,
.btn.is-disabled:hover,
.btn.is-disabled:focus,
.btn.is-disabled:active {
  opacity: .5;
  cursor: not-allowed;
}
@include make-buttons();
