<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Press &bull; A framework by Frontiers</title>

    <!-- Development Styles -->
  	<link rel="stylesheet" href="../../../dist/press.min.css">

    <!-- Documentation Extras -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="../dist/styles/docs.v4.min.css" rel="stylesheet">

  </head>
  <body>

    <header>
      <nav class="flex items-center justify-between w100 mw-wrap pt3 pb3 mr-auto ml-auto">
        <div class="flex items-center">
          <a class="dib b caps fs4 baltic tdn dim" href="/">Press</a>
          <div class="dib ml2 white fs1 bg-pewter pt1 pr2 pb1 pl2">v4.0.0 alpha</div>
        </div>
        <ul class="dib lsn tar pl0 mt0 mb0 fr">
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2" href="/">Getting Started</a></li>
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2">Guidelines</a></li>
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2" href="/v4/docs">Docs</a></li>
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2" href="/v4/components">Components</a></li>
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2">Extras</a></li>
          <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2" href="https://github.com/frontiersusa/press">Contribute</a></li>
        </ul>
      </nav>
      <div class="flex flex-column justify-center items-start pt6 pb6 bg-whitesmoke">
        <div class="w100 mw-wrap pl2 pr2 mr-auto ml-auto">
          <h1 class="fs8 mb3"># Components</h1>
          <div class="mw6">
            <h2 class="sans-med fs4 mb2">Thoughtful componets that uses Press' utility classes.</h2>
          </div>
        </div>
      </div>
    </header>

    <div class="mw-wrap mt5 mr-auto mb5 ml-auto">

      <!-- Buttons -->
      <section class="mb6" id="buttons">
        <!-- Buttons Intro -->
        <div class="mb4" id="button-intro">
          <h2># Buttons</h2>
          <div class="w100 bb b--seashell"></div>
        </div>

        <!-- Button Sizes -->
        <div class="mb3" id="button-sizes">
          <h3 class="fs4 mb2">Button Sizes</h3>
          <div class="ba bw1 b--sunglow flex flex-column flex-row-lg">
            <div class="flex items-center justify-center flex-auto w50-lg">
              <!-- Main content -->
              <div class="pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                <a class="dib pt1 pr2 pb1 pl2 fs1 tdn white bg-pewter br3 dim" href="#">Small</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-pewter br2 dim" href="#">Medium</a>
                <a class="dib pt3 pr4 pb3 pl4 tdn white bg-pewter br3 dim" href="#">Large</a>
              </div>
            </div>
            <figure class="flex justify-center-lg items-center flex-auto w50-lg hightlight">
              <pre>
                <!-- Main code -->
                <code class="xml pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                  <a class="dib pt1 pr2 pb1 pl2 fs1 tdn white bg-pewter br3 dim" href="#">Small</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-pewter br2 dim" href="#">Medium</a>
                  <a class="dib pt3 pr4 pb3 pl4 tdn white bg-pewter br3 dim" href="#">Large</a>
                </code>
              </pre>
            </figure>
          </div>
        </div>

        <!-- Button Colors -->
        <div class="mb3" id="button-colors">
          <h3 class="fs4 mb2">Button Colors</h3>
          <div class="ba bw1 b--sunglow flex flex-column flex-row-lg">
            <div class="flex items-center justify-center flex-auto w50-lg">
              <!-- Main content -->
              <div class="pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-pewter br2 dim" href="#">Pewter</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-whale br2 dim" href="#">Whale</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-seashell br2 dim" href="#">Seashell</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-baltic br2 dim" href="#">Baltic</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-sunglow br2 dim" href="#">Sunglow</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-white br2 dim" href="#">White</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-error br2 dim" href="#">Error</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-warn br2 dim" href="#">Warn</a>
                <a class="dib pt2 pr3 pb2 pl3 tdn white bg-success br2 dim" href="#">Success</a>
              </div>
            </div>
            <figure class="flex justify-center-lg items-center flex-auto w50-lg hightlight">
              <pre>
                <!-- Main code -->
                <code class="xml pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-pewter br2 dim" href="#">Pewter</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-whale br2 dim" href="#">Whale</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-seashell br2 dim" href="#">Seashell</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-baltic br2 dim" href="#">Baltic</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-sunglow br2 dim" href="#">Sunglow</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn baltic bg-white br2 dim" href="#">White</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-error br2 dim" href="#">Error</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-warn br2 dim" href="#">Warn</a>
                  <a class="dib pt2 pr3 pb2 pl3 tdn white bg-success br2 dim" href="#">Success</a>
                </code>
              </pre>
            </figure>
          </div>
        </div>

      </section>

      <!-- Inputs -->
      <section class="mb6" id="inputs">
        <!-- Inputs intro -->
        <div class="mb4" id="inputs-intro">
          <h2># Inputs</h2>
          <div class="w100 bb b--seashell"></div>
        </div>

        <!-- Input Types -->
        <div class="mb3" id="input-sizes">
          <h3 class="fs4 mb2">Input Types & Sizes</h3>
          <div class="ba bw1 b--sunglow flex flex-column flex-row-lg">
            <div class="flex items-center justify-center flex-auto w50-lg">
              <!-- Main content -->
              <div class="pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                <label>
                  Small Text Input
                  <input class="input-reset dib w100 pa1 mb2 fs1 bw0 br2" type="text" placeholder="Placeholder">
                </label>
                <label>
                  Medium Text Input
                  <input class="input-reset dib w100 pa2 mb2 bw0 br2" type="text" placeholder="Medium Text Input">
                </label>
                <label>
                  Large Text Input
                  <input class="input-reset dib w100 pa3 mb2 bw0 br2" type="text" placeholder="Placeholder">
                </label>
                <label>
                  Small Select Input
                  <div class="select dib w100 rel">
                    <select class="input-reset dib w100 pa1 mb2 fs1 bg-white bw0 br2">
                      <option value="option-1">Option 1</option>
                      <option value="option-2">Option 2</option>
                      <option value="option-3">Option 3</option>
                    </select>
                  </div>
                </label>
                <label>
                  Medium Select Input
                  <div class="select dib w100 rel">
                    <select class="input-reset dib w100 pa2 mb2 bg-white bw0 br2">
                      <option value="option-1">Option 1</option>
                      <option value="option-2">Option 2</option>
                      <option value="option-3">Option 3</option>
                    </select>
                  </div>
                </label>
                <label>
                  Large Select Input
                  <div class="select dib w100 rel">
                    <select class="input-reset dib w100 pa3 mb2 bg-white bw0 br2">
                      <option value="option-1">Option 1</option>
                      <option value="option-2">Option 2</option>
                      <option value="option-3">Option 3</option>
                    </select>
                  </div>
                </label>

              </div>
            </div>
            <figure class="flex justify-center-lg items-center flex-auto w50-lg hightlight">
              <pre>
                <!-- Main code -->
                <code class="xml pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                  <label>
                    Small Text Input
                    <input class="input-reset dib w100 pa1 mb2 fs1 bw0 br2" type="text" placeholder="Placeholder">
                  </label>
                  <label>
                    Medium Text Input
                    <input class="input-reset dib w100 pa2 mb2 bw0 br2" type="text" placeholder="Medium Text Input">
                  </label>
                  <label>
                    Large Text Input
                    <input class="input-reset dib w100 pa3 mb2 bw0 br2" type="text" placeholder="Placeholder">
                  </label>
                  <label>
                    Small Select Input
                    <div class="select dib w100 rel">
                      <select class="input-reset dib w100 pa1 mb2 fs1 bg-white bw0 br2">
                        <option value="option-1">Option 1</option>
                        <option value="option-2">Option 2</option>
                        <option value="option-3">Option 3</option>
                      </select>
                    </div>
                  </label>
                  <label>
                    Medium Select Input
                    <div class="select dib w100 rel">
                      <select class="input-reset dib w100 pa2 mb2 bg-white bw0 br2">
                        <option value="option-1">Option 1</option>
                        <option value="option-2">Option 2</option>
                        <option value="option-3">Option 3</option>
                      </select>
                    </div>
                  </label>
                  <label>
                    Large Select Input
                    <div class="select dib w100 rel">
                      <select class="input-reset dib w100 pa3 mb2 bg-white bw0 br2">
                        <option value="option-1">Option 1</option>
                        <option value="option-2">Option 2</option>
                        <option value="option-3">Option 3</option>
                      </select>
                    </div>
                  </label>
                </code>
              </pre>
            </figure>
          </div>
        </div>
      </section>

      <!-- Forms -->
      <section class="mb8" id="links">
        <!-- Forms Intro -->
        <div class="mb3" id="links-intro">
          <h2># Forms</h2>
          <div class="w100 bb b--seashell"></div>
        </div>

        <!-- Inline Form -->
        <div class="mb3" id="link-colors">
          <h3>Inline Form</h3>
          <div class="ba bw1 b--sunglow flex flex-column flex-row-lg">
            <div class="flex items-center justify-center flex-auto w50-lg">
              <!-- Main content -->
              <div class="pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                <form>
                  <fieldset class="bn pa0">
                    <div class="cf">
                      <input class="input-reset dib pa3 mb2 bw0 br2" type="text" placeholder="Email address">
                      <input class="dib bg-pewter dim pt3 pr4 pb3 pl4 tdn white br3 bw0" type="submit" value="Subscribe">
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <figure class="flex justify-center-lg items-center flex-auto w50-lg hightlight">
              <pre>
                <!-- Main code -->
                <code class="xml pt3 pr3 pb3 pl3 pt4-lg pr4-lg pb4-lg pl4-lg">
                  <form>
                    <fieldset class="bn pa0">
                      <div class="cf">
                        <input class="input-reset dib pa3 mb2 bw0 br2" type="text" placeholder="Email address">
                        <input class="dib bg-pewter dim pt3 pr4 pb3 pl4 tdn white br3 bw0" type="submit" value="Subscribe">
                      </div>
                    </fieldset>
                  </form>
                </code>
              </pre>
            </figure>
          </div>
        </div>

      </section>

    </div>

    <!-- Documentation extras -->
    <script src="../dist/scripts/docs.v4.min.js"></script>

  </body>

  <footer class="bg-whitesmoke">
    <nav class="dib w100">
      <ul class="list-reset tar mw9">
        <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2">Credit &amp; Thanks</a></li>
        <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2">Download</a></li>
        <li class="dib"><a class="link pewter dim pt2 pr2 pb2 pl2" href="https://frontiersusa.org">Frontiers</></a></li>
      </ul>
    </nav>
  </footer>
</html>
