/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: theme("fontSize.5xl");
}
h2 {
  font-size: theme("fontSize.4xl");
}
h3 {
  font-size: theme("fontSize.3xl");
}
h4 {
  font-size: theme("fontSize.2xl");
}
h5 {
  font-size: theme("fontSize.xl");
}
h6 {
  font-size: theme("fontSize.lg");
}

@screen md {
  h1 {
    font-size: theme("fontSize.6xl");
  }
  h2 {
    font-size: theme("fontSize.5xl");
  }
  h3 {
    font-size: theme("fontSize.4xl");
  }
  h4 {
    font-size: theme("fontSize.3xl");
  }
  h5 {
    font-size: theme("fontSize.2xl");
  }
  h6 {
    font-size: theme("fontSize.xl");
  }
}
