{% macro options(
  directoryLevel=''
) %}

<footer class="footer--std">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 footer__logos">
                <img
                  class="footer__logos--frontiers"
                  src="{#
                    #}{%if directoryLevel == '0' %}{% endif %}{#
                    #}{%if directoryLevel == '1' %}/../{% endif %}{#
                    #}{%if directoryLevel == '2' %}/../../{% endif %}{#
                    #}{%if directoryLevel == '3' %}/../../../{% endif %}{#
                    #}images/logo-whole-white.svg"
                  alt="Logo Footer">
                <div class="underline--stone"></div>
                <span class="footer__privacy"><a href="https://www.frontiersusa.org/privacy-policy">Privacy Policy</a></span>
                <span class="footer__copyright">© <script type="text/javascript">document.write(new Date().getFullYear());</script> MIO Frontiers
                </span>
                <a href="http://www.ecfa.org" target="_blank">
                  <img
                    class="footer__logos--ecfa"
                    src="{#
                      #}{%if directoryLevel == '0' %}{% endif %}{#
                      #}{%if directoryLevel == '1' %}/../{% endif %}{#
                      #}{%if directoryLevel == '2' %}/../../{% endif %}{#
                      #}{%if directoryLevel == '3' %}/../../../{% endif %}{#
                      #}images/ecfa-white.svg"
                    alt="ECFA">
                </a>
                <a href="http://missionexus.org" target="_blank">
                  <img
                    class="footer__logos--missio"
                    src="{#
                      #}{%if directoryLevel == '0' %}{% endif %}{#
                      #}{%if directoryLevel == '1' %}/../{% endif %}{#
                      #}{%if directoryLevel == '2' %}/../../{% endif %}{#
                      #}{%if directoryLevel == '3' %}/../../../{% endif %}{#
                      #}images/missionexus-white.svg"
                    alt="Missio Nexus">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h5>More Info</h5>
                <ul class="list--reset">
                    <li><a href="https://www.frontiersusa.org/contact">Contact</a></li>
                    <li><a href="https://www.frontiersusa.org/statement-of-faith">Statement of Faith</a></li>
                    <li><a href="https://www.frontiersusa.org/media-assets">Financial Accountability</a></li>
                    <li><a href="https://www.frontiersusa.org/request-a-speaker">Request a Speaker</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h5>Act Now</h5>
                <ul class="list--reset">
                    <li><a href="https://www.frontiersusa.org/act/find-your-role">Find Your Role</a></li>
                    <li><a href="https://www.frontiersusa.org/act/volunteer">Volenteer</a></li>
                    <li><a href="https://www.frontiersusa.org/work-for-frontiers">Work for Frontiers</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h5>Stay Connected</h5>
                <ul class="footer__social list--reset">
                    <li><a href="https://www.facebook.com/frontiersusa"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/frontiers_usa"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="https://instagram.com/frontiers_usa/"><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endmacro %}
