{% macro options(
  directoryLevel=''
) %}

<div id="outdated">
   <h6>Your browser is out-of-date!</h6>
   <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
   <!-- <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p> -->
</div>

<header class="masthead">
  <nav class="header-nav">
      <div class="container">
          <div class="header-logo">
              <img
                src="{#
                  #}{%if directoryLevel == '0' %}{% endif %}{#
                  #}{%if directoryLevel == '1' %}/../{% endif %}{#
                  #}{%if directoryLevel == '2' %}/../../{% endif %}{#
                  #}{%if directoryLevel == '3' %}/../../../{% endif %}{#
                  #}images/logo-horizontal-dark.svg"
                alt="Frontiers USA">
          </div>
          <ul class="header-items">
              <li class="dropdown">
                <a href="javascript:void(0)">Learn</a>
                <div class="dropdown__items">
                  <ul>
                    <li><a href="javascript:void(0)">Our Work</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">The Unengaged</a></li>
                    <li><a href="javascript:voud(0)">Church Opportunities</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown">
                  <a href="javascript:void(0)">Pray</a>
                  <div class="dropdown__items">
                      <ul>
                        <li><a href="javascript:void(0)">10:02</a></li>
                        <li><a href="javascript:void(0)">Prayer Guides</a></li>
                        <li><a href="javascript:void(0)">Pray for Muslims</a></li>
                        <li><a href="javascript:void(0)">Pray for Workers</a></li>
                        <li><a href="javascript:void(0)">Pray for Regions</a></li>
                      </ul>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="javascript:void(0)">Go</a>
                  <div class="dropdown__items">
                    <ul>
                      <li><a href="#">Prepare</a></li>
                      <li><a href="#">Stort Term</a></li>
                      <li><a href="#">Long Term</a></li>
                      <li><a href="#">Church Based Teams</a></li>
                    </ul>
                  </div>
              </li>
              <li><a href="javascript:void(0)">Blog</a></li>
          </ul>
          <div class="nav-options">
            <div class="nav-options__default">
              <button class="btn btn--sm btn--pewter">Donate Now</button>
              <a href="javascript:void(0)"><i class="fa fa-sign-out "></i> Log Out</a>
              <a class="search-toggle" href="javascript:void(0)"><i class="fa fa-search"></i></a>
            </div>
            <div class="search">
              <div class="search__form">
                <form class="form form--sm form--inline">
                  <div class="input-addon__wrapper">
                    <input type="text" placeholder="Search any phrase or keyword" required>
                    <span class="input-addon">
                      <button class="btn btn--sm btn--pewter" type="submit" value="Search">Search</button>
                    </span>
                  </div>
                </form>
              </div>
              <a class="search-toggle" href="javascript:void(0)"><i class="fa fa-close"></i></a>
            </div>
          </div>
          <div class="nav-toggle">
            <a href="javascript:void(0)">Menu</a>
          </div>
      </div>
  </nav>
</header>

{% endmacro %}
