.bc-baltic { border-color: $baltic; }
.bc-pewter { border-color: $pewter; }
.bc-whale { border-color: $whale; }

.bc-seashell { border-color: $seashell; }
.bc-seashell-light { border-color: $seashell-light;}
.bc-seashell-dark { border-color: $seashell-dark; }
