.border-radius {
  $border-radius: $base-border-radius;
}

.border-baltic {
  border-color: $baltic;
}
.border-seashell {
  border-color: $seashell;
}
.border-seashell-light {
  border-color: $seashell-light;
}
.border-seashell-dark {
  border-color: $seashell-dark;
}
