// Text colors
.baltic-light {
  color: $baltic-light;
}
.baltic {
  color: $baltic;
}
.baltic-dark {
  color: $baltic-dark;
}

// Background colors
.bg-whale-light {
  background-color: $whale-light;
}
.bg-whale {
  background-color: $whale;
}
.bg-whale-dark {
  background-color: $whale-dark;
}

.bg-baltic-light {
  background-color: $baltic-light;
}
.bg-baltic {
  background-color: $baltic;
}
.bg-baltic-dark {
  background-color: $baltic-dark;
}

.bg-seashell-light {
  background-color: $seashell-light;
}
.bg-seashell {
  background-color: $seashell;
}
.bg-seashell-dark {
  background-color: $seashell-dark;
}

.bg-pewter-light {
  background-color: $pewter-light;
}
.bg-pewter {
  background-color: $pewter;
}
.bg-pewter-dark {
  background-color: $pewter-dark;
}
