// Defaults
$sans-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$serif-default: "Times New Roman", Times, serif;

// Sans
@font-face {
  font-family:"Avenir Light";
  src:url("../fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
  src:url("../fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),
  url("../fonts/4fb9056b-4ac3-488b-9bac-75741b0ff0bd.woff2") format("woff2"),
  url("../fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),
  url("../fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),
  url("../fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family:"Avenir Light Italic";
  src:url("Fonts/6500273c-8e8b-48d2-b0c0-dcae293c0120.eot?#iefix");
  src:url("Fonts/6500273c-8e8b-48d2-b0c0-dcae293c0120.eot?#iefix") format("eot"),
  url("Fonts/fa773ad4-7e95-43a6-ace9-c486aad9b8fe.woff2") format("woff2"),
  url("Fonts/47fd1045-6e5b-4c87-9235-cfbc2b42cde7.woff") format("woff"),
  url("Fonts/60662abb-0ac3-46b2-930f-4719462489c9.ttf") format("truetype"),
  url("Fonts/9cf39ac2-87a5-4c4e-a604-7cece19d30bd.svg#9cf39ac2-87a5-4c4e-a604-7cece19d30bd") format("svg");
  font-weight: 100;
  font-style: oblique;
}
@font-face {
  font-family:"Avenir Medium";
  src:url("Fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
  src:url("Fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),
  url("Fonts/75c84254-5125-412c-bc24-56769ae3b627.woff2") format("woff2"),
  url("Fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),
  url("Fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),
  url("Fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family:"Avenir Medium Italic";
  src:url("Fonts/8f21e618-9282-4df1-b556-73ee82bdd673.eot?#iefix");
  src:url("Fonts/8f21e618-9282-4df1-b556-73ee82bdd673.eot?#iefix") format("eot"),
  url("Fonts/09df9e09-83d7-46b3-b5cc-e1dc773dfdcf.woff2") format("woff2"),
  url("Fonts/3695342c-b5e2-4010-b0d4-56f563465922.woff") format("woff"),
  url("Fonts/2ba9f875-66d9-414d-a426-5a012b443475.ttf") format("truetype"),
  url("Fonts/0a88351a-e628-4b1f-99eb-3a729518af0a.svg#0a88351a-e628-4b1f-99eb-3a729518af0a") format("svg");
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family:"Avenir Bold";
  src:url("Fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix");
  src:url("Fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot"),
  url("Fonts/16695c2d-c755-45a2-bdcf-c54843f39afd.woff2") format("woff2"),
  url("Fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"),
  url("Fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"),
  url("Fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family:"Avenir Bold Italic";
  src:url("Fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix");
  src:url("Fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix") format("eot"),
  url("Fonts/7c7d3040-c381-4ac9-bff7-90b1fdea4739.woff2") format("woff2"),
  url("Fonts/36ec15b9-f8da-447f-8fed-a9cfdfb91fbb.woff") format("woff"),
  url("Fonts/230d6b14-6d44-4dd5-a6ae-a4287936e51e.ttf") format("truetype"),
  url("Fonts/9bce4920-94e2-4e4d-bd34-818801dd3eb3.svg#9bce4920-94e2-4e4d-bd34-818801dd3eb3") format("svg");
  font-weight: 700;
  font-style: oblique;
}

@mixin sans-light {
  font-family: "Avenir Light", #{$sans-default};
  font-weight: 100;
  font-style: normal;
}
@mixin sans-light-italic {
  font-family: "Avenir Light Italic", #{$sans-default};
  font-weight: 100;
  font-style: oblique;;
}
@mixin sans-medium {
  font-family: "Avenir Medium", #{$sans-default};
  font-weight: 400;
  font-style: normal;
}
@mixin sans-medium-italic {
  font-family: "Avenir Medium Italic", #{$sans-default};
  font-weight: 400;
  font-style: oblique;
}
@mixin sans-bold {
  font-family: "Avenir Bold", #{$sans-default};
  font-weight: 700;
  font-style: normal;
}
@mixin sans-bold-italic {
  font-family: "Avenir Bold Italic", #{$sans-default};
  font-weight: 700;
  font-style: oblique;;
}

@mixin serif-light {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 400;
}
@mixin serif-light-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  font-weight: 400;
}
@mixin serif-medium {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 600;
}
@mixin serif-medium-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 600;
}
@mixin serif-bold {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 700;
}
@mixin serif-bold-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  font-weight: 700;
}
