/*
  Background Color

*/

.bg-teal { background-color: var(--color-teal); }
.bg-navy { background-color: var(--color-navy); }
.bg-sea { background-color: var(--color-sea); }
.bg-gold { background-color: var(--color-gold); }
.bg-jet { background-color: var(--color-jet); }
.bg-ghost { background-color: var(--color-ghost); }

.fill-teal { fill: var(--color-teal); }
.fill-navy { fill: var(--color-navy); }
.fill-sea { fill: var(--color-sea); }
.fill-gold { fill: var(--color-gold); }
.fill-jet { fill: var(--color-jet); }
.fill-ghost { fill: var(--color-ghost); }

.bg-transparent { background-color: transparent; }
.bg-black { background-color: black; }
.bg-black-10 { background-color: var(--color-black-10) }
.bg-black-25 { background-color: var(--color-black-25) }
.bg-black-50 { background-color: var(--color-black-50) }
.bg-black-75 { background-color: var(--color-black-75) }
.bg-black-90 { background-color: var(--color-black-90) }
.bg-gray { background-color: lightGray; }
.bg-white { background-color: white; }
.bg-white-10 { background-color: var(--color-white-10) }
.bg-white-25 { background-color: var(--color-white-25) }
.bg-white-50 { background-color: var(--color-white-50) }
.bg-white-75 { background-color: var(--color-white-75) }
.bg-white-90 { background-color: var(--color-white-90) }
