/*
  BACKGROUND COLOR

*/

.bg-transparent { background-color: transparent; }

.bg-whale-light { background-color: var(--color-whale-light); }
.bg-whale { background-color: var(--color-whale); }
.bg-whale-dark { background-color: var(--color-whale-dark); }

.bg-baltic-light { background-color: var(--color-baltic-light); }
.bg-baltic { background-color: var(--color-baltic); }
.bg-baltic-dark { background-color: var(--color-baltic-dark); }

.bg-seashell-light { background-color: var(--color-seashell-light); }
.bg-seashell { background-color: var(--color-seashell); }
.bg-seashell-dark { background-color: var(--color-seashell-dark); }

.bg-pewter-light { background-color: var(--color-pewter-light); }
.bg-pewter { background-color: var(--color-pewter); }
.bg-pewter-dark { background-color: var(--color-pewter-dark); }

.bg-whitesmoke { background-color: var(--color-whitesmoke); }
.bg-whitesmoke-light { background-color: var(--color-whitesmoke-light); }
