/*
  Border Color

*/

.b--teal { border-color: var(--color-teal); }
.b--navy { border-color: var(--color-navy); }
.b--sea { border-color: var(--color-sea); }
.b--gold { border-color: var(--color-gold); }
.b--jet { border-color: var(--color-jet); }
.b--ghost { border-color: var(--color-ghost); }

.b--black { border-color: black; }
.b--gray { border-color: var(--color-gray); }
.b--white { border-color: white; }
