/*
  BOX SHADOW

*/

.shadow-outer-1 { box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1); }
.shadow-outer-2 { box-shadow: 0 1px 5px 0 rgba(0,0,0,.2); }
.shadow-outer-3 { box-shadow: 0 2px 10px 0 rgba(0,0,0,.2); }
.shadow-outer-4 { box-shadow: 0 3px 15px 0 rgba(0,0,0,.2); }
.shadow-outer-5 { box-shadow: 0 3px 24px 0 rgba(0,0,0,.3); }
