/*
  BOX SHADOW

*/

.shadow-outer-1 { box-shadow: 0 0 10px 0 rgba(0,0,0,0.1); }
.shadow-outer-2 { box-shadow: 0 0 20px 0 rgba(0,0,0,.15); }
.shadow-outer-3 { box-shadow: 0 0 40px 0 rgba(0,0,0,.15); }
