/*
  BUTTONS

*/

.btn,
a.btn {
  display: inline-block;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
  border: 0.125rem;
  border-radius: 3px;
  background-color: var(--color-teal);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  transition-property: background, background-color, border, border-color, box-shadow !important;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  user-select: none;
  appearance: none;
  &:not([class*='btn-outlined']) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-teal) shade(20%)); }
  &:disabled,
  &.btn-disabled {
    color: var(--color-ghost);
    background-color: var(--color-gray);
    cursor: not-allowed;
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-gray);
    }
  }
  & svg {
    fill: white;
    vertical-align: middle;
    width: 100%;
    max-width: 17px;
    margin-right: 10px;
  }
}

/* Button Sizes */
.btn-1,
a.btn-1 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  font-size: 0.750em;
  &:not([class*='btn-outlined']) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  &[class*='btn-outlined'] {
    /*padding-top: (0.563rem - 0.125rem);
    padding-bottom: (0.563rem - 0.125rem);*/
  }
}
.btn-3,
a.btn-3 {
  padding-right: 18px;
  padding-left: 18px;
  font-size: 1.375rem;
  &:not([class*='btn-outlined']) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &[class*='btn-outlined'] {
    /*padding-top: (0.625rem - 0.125rem);
    padding-bottom: (0.625rem - 0.125rem);*/
  }
}

.btn-teal,
a.btn-teal {
  background-color: var(--color-teal);
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-teal) shade(20%)); }
}
.btn-navy,
a.btn-navy {
  background-color: var(--color-navy);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-sea); }
}
.btn-sea,
a.btn-sea {
  background-color: var(--color-sea);
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-sea) lightness(40%)); }
}
.btn-gold,
a.btn-gold {
  color: var(--color-jet);
  background-color: var(--color-gold);
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-gold) tint(40%)); }
}
.btn-jet,
a.btn-jet {
  background-color: var(--color-jet);
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-jet) tint(35%)); }
}
.btn-white,
a.btn-white {
  background-color: white;
  color: var(--color-jet);
  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-ghost) shade(10%)); }
}

.btn-error,
a.btn-error {
  background-color: var(--color-error);
  &:hover { background-color: color(var(--color-error) lightness(40%)); }
  &:focus { background-color: color(var(--color-error) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-error) lightness(70%)); }
}
.btn-success,
a.btn-success {
  background-color: var(--color-success);
  &:hover { background-color: color(var(--color-success) lightness(40%)); }
  &:focus { background-color: color(var(--color-success) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-success) lightness(80%)); }
}
.btn-warn,
a.btn-warn {
  background-color: var(--color-warn);
  &:hover { background-color: color(var(--color-warn) lightness(40%)); }
  &:focus { background-color: color(var(--color-warn) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-warn) lightness(80%)); }
}
