/*
  BUTTONS

*/

.btn,
a.btn {
  display: inline-block;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
  border: 0.125rem;
  border-radius: 3px;
  background-color: color(var(--color-whale) lightness(25%));
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  transition-property: background, background-color, border, border-color, box-shadow !important;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  user-select: none;
  appearance: none;

  &:not([class*='btn-outlined']) {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  &:hover,
  &:focus,
  &:active { background-color: color(var(--color-whale) lightness(35%)); }

  &:disabled,
  &.btn-disabled {
    color: var(--color-seashell-dark);
    background-color: var(--color-seashell-light);
    cursor: not-allowed;
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-seashell-light);
    }
  }

}

*[class*='btn-outlined'],
a*[class*='btn-outlined'] {

  &:hover,
  &:focus,
  &:active {

  }
  /*&:disabled,
  &.btn-disabled {
    text-decoration: none;
    background-color: transparent;
  }*/
}

.btn-outlined,
a.btn-outlined {
  border-color: var(--color-whale);
  color: var(--color-whale);
  background-color: transparent;
  border-width: 0.125rem;
  border-style: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover,
  &:focus,
  &:active  {
    text-decoration: underline;
    background-color: transparent;
    border-color: color(var(--color-whale) lightness(35%));
    color: color(var(--color-whale) lightness(35%));
  }
  &:disabled,
  &.btn-disabled {
    color: var(--color-seashell-dark);
    background-color: var(--color-seashell-light);
    cursor: not-allowed;
    border-color: transparent;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: var(--color-seashell-light);
      border-color: transparent;
    }
  }
}


/* Button Sizes */
.btn-1,
a.btn-1 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  font-size: 0.750em;
  &:not([class*='btn-outlined']) {
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;
  }
  &[class*='btn-outlined'] {
    padding-top: (0.563rem - 0.125rem);
    padding-bottom: (0.563rem - 0.125rem);
  }
}
.btn-3,
a.btn-3 {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  font-size: 1.375rem;
  &:not([class*='btn-outlined']) {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  &[class*='btn-outlined'] {
    padding-top: (0.625rem - 0.125rem);
    padding-bottom: (0.625rem - 0.125rem);
  }
}


/* Button Brand Colors */
.btn-pewter,
a.btn-pewter {
  background-color: var(--color-pewter);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-pewter-dark); }
}
.btn-baltic,
a.btn-baltic {
  background-color: var(--color-baltic);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-baltic-light); }
}
.btn-sunglow,
a.btn-sunglow {
  background-color: var(--color-sunglow);
  color: var(--color-baltic);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-sunglow-dark); }
}
.btn-seashell,
a.btn-seashell {
  background-color: var(--color-seashell);
  color: var(--color-baltic);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-seashell-dark); }
}
.btn-white,
a.btn-white {
  background-color: white;
  color: var(--color-baltic);
  border: 2px solid var(--color-seashell);
  &:hover,
  &:focus,
  &:active { background-color: var(--color-seashell-light); }
}
/* Not needed since .btn contains these styles by default
.btn-whale,
a.btn-whale {
  background-color: lighten($whale, 10%);
  &:hover,
  &:focus,
  &:active { background-color: lighten($whale, 20%); }
  &:disabled,
  &.btn-disabled { background-color: lighten((desaturate($whale, 50%)), 50%); }
} */

/* Removed for now

.btn-outlined-pewter,
a.btn-outlined-pewter {
  border-color: $pewter;
  color: $pewter;
  &:hover {
    border-color: darken($pewter, 20%);
    color: darken($pewter, 20%);
  }
}
.btn-outlined-sunglow,
a.btn-outlined-sunglow {
  border-color: $sunglow;
  color: $sunglow;
  &:hover {
    border-color: darken($sunglow, 15%);
    color: darken($sunglow, 15%);
  }
}
.btn-outlined-baltic,
a.btn-outlined-baltic {
  border-color: $baltic;
  color: $baltic;
  &:hover {
    border-color: lighten($baltic, 30%);
    color: lighten($baltic, 30%);
  }
}
.btn-outlined-seashell,
a.btn-outlined-seashell {
  border-color: $seashell;
  color: $baltic;
  &:hover {
    border-color: darken($seashell, 20%);
    color: $baltic-dark;
  }
}*/
/* Not needed since .btn-outlined contains these styles by default

.btn-outlined-whale,
a.btn-outlined-whale {
  border-color: $whale-light;
  color: $whale-light;
  &:hover {
    border-color: lighten($whale, 30%);
    color: lighten($whale, 30%);
  }
}*/

/* Button with icon */
.btn-icon object[type='image/svg+xml'] {
  vertical-align: middle;
  width: 100%;
  max-width: 25px;
  margin-right: 10px;
}

/* Button States */
.btn-error,
a.btn-error {
  background-color: var(--color-error);
  &:hover { background-color: color(var(--color-error) lightness(40%)); }
  &:focus { background-color: color(var(--color-error) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-error) lightness(70%)); }
}
.btn-success,
a.btn-success {
  background-color: var(--color-success);
  &:hover { background-color: color(var(--color-success) lightness(40%)); }
  &:focus { background-color: color(var(--color-success) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-success) lightness(80%)); }
}
.btn-warn,
a.btn-warn {
  background-color: var(--color-warn);
  &:hover { background-color: color(var(--color-warn) lightness(40%)); }
  &:focus { background-color: color(var(--color-warn) lightness(40%)); }
  &:disabled,
  &.btn-disabled { background-color: color(var(--color-warn) lightness(80%)); }
}
