// ======================
// Button Bases
// ======================

.btn,
a.btn {
  display: inline-block;
  padding-right: $button-x-2;
  padding-left: $button-x-2;
  border: $button-border-width;
  border-radius: 3px;
  background-color: lighten($whale, 10%);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  cursor: pointer;
  transition-delay: 0;
  transition-timing-function: ease-in;
  transition-duration: $button-transition-duration;
  transition-property: background border-color color;
  user-select: none;
  appearance: none;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-2;
    padding-bottom: $button-y-2;
  }
  &:hover,
  &:focus,
  &:active { background-color: lighten($whale, 20%); }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($button-bg-color, 40%);
    cursor: not-allowed;
  }
}

*[class*='btn-outline'],
a*[class*='btn-outline'] {
  background-color: transparent;
  border-width: $button-border-width;
  border-style: solid;
  padding-top: ($button-y-2 - 0.125rem);
  padding-bottom: ($button-y-2 - 0.125rem);
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    background-color: transparent;
  }
  &:disabled,
  &.btn-disabled {
    text-decoration: none;
    background-color: transparent;
  }
}

.btn-outlined,
a.btn-outlined {
  border-color: $blue;
  color: $blue;
  &:hover,
  &:focus,
  &:active  {
    border-color: darken($blue, 20%);
    color: darken($blue, 20%);
  }
  &:disabled,
  &.btn-disabled {
    border-color: lighten($blue, 20%);
    color: lighten($blue, 20%);
    background-color: transparent;
  }
}

// ======================
// Button Sizes
// ======================

.btn-1,
a.btn-1 {
  padding-right: $button-x-1;
  padding-left: $button-x-1;
  font-size: 0.750em;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-1;
    padding-bottom: $button-y-1;
  }
  &[class*='btn-outlined'] {
    padding-top: ($button-y-1 - 0.125rem);
    padding-bottom: ($button-y-1 - 0.125rem);
  }
}
.btn-3,
a.btn-3 {
  padding-right: $button-x-3;
  padding-left: $button-x-3;
  font-size: 1.375rem;
  &:not([class*='btn-outlined']) {
    padding-top: $button-y-3;
    padding-bottom: $button-y-3;
  }
  &[class*='btn-outlined'] {
    padding-top: ($button-y-3 - 0.125rem);
    padding-bottom: ($button-y-3 - 0.125rem);
  }
}

// ======================
// Button States
// ======================

.btn-error,
a.btn-error {
  background-color: $error;
  &:hover { background-color: darken($error, 10%); }
  &:focus { background-color: darken($error, 20%); }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($error, 30%);
  }
}
.btn-success,
a.btn-success {
  background-color: $success;
  &:hover { background-color: darken($success, 10%); }
  &:focus { background-color: darken($success, 15%); }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($success, 30%);
  }
}
.btn-warn,
a.btn-warn {
  background-color: $warn;
  &:hover { background-color: darken($warn, 10%); }
  &:focus { background-color: darken($warn, 15%); }
  &:disabled,
  &.btn-disabled {
    background-color: lighten($warn, 20%);
  }
}
.btn-outlined-error,
a.btn-outlined-error {
  border-color: $error;
  color: $error;
  &:hover,
  &:focus,
  &:active  {
    border-color: darken($error, 20%);
    color: darken($error, 20%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: lighten($error, 30%);
    color: lighten($error, 30%);
  }
}
.btn-outlined-success,
a.btn-outlined-success {
  border-color: $success;
  color: $success;
  &:hover,
  &:focus,
  &:active  {
    border-color: darken($success, 30%);
    color: darken($success, 30%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: lighten($success, 30%);
    color: lighten($success, 30%);
  }
}
.btn-outlined-warn,
a.btn-outlined-warn {
  border-color: $warn;
  color: $warn;
  &:hover,
  &:focus,
  &:active  {
    border-color: darken($warn, 30%);
    color: darken($warn, 30%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: lighten($warn, 20%);
    color: lighten($warn, 20%);
  }
}

// Brand colors
.btn-pewter,
a.btn-pewter {
  background-color: $pewter;
  &:hover,
  &:focus,
  &:active { background-color: darken($pewter, 10%); }
  &:disabled,
  &.btn-disabled { background-color: lighten((desaturate($pewter, 2%)), 20%); }
}
// Not needed since .btn contains these styles by default
// .btn-whale,
// a.btn-whale {
//   background-color: lighten($whale, 10%);
//   &:hover,
//   &:focus,
//   &:active { background-color: lighten($whale, 20%); }
//   &:disabled,
//   &.btn-disabled { background-color: lighten((desaturate($whale, 50%)), 50%); }
// }
.btn-sunglow,
a.btn-sunglow {
  background-color: $sunglow;
  &:hover,
  &:focus,
  &:active { background-color: darken($sunglow, 15%); }
  &:disabled,
  &.btn-disabled { background-color: lighten((desaturate($sunglow, 50%)), 25%); }
}
.btn-baltic,
a.btn-baltic {
  background-color: $baltic;
  &:hover,
  &:focus,
  &:active { background-color: lighten($baltic, 15%); }
  &:disabled,
  &.btn-disabled { background-color: lighten((desaturate($baltic, 50%)), 50%); }
}
.btn-seashell,
a.btn-seashell {
  background-color: $seashell;
  color: $baltic;
  &:hover,
  &:focus,
  &:active { background-color: darken($seashell, 10%); }
  &:disabled,
  &.btn-disabled {
    color: $seashell-light;
    background-color: darken($seashell, 15%);
  }
}

.btn-outlined-pewter,
a.btn-outlined-pewter {
  border-color: $pewter;
  color: $pewter;
  &:hover {
    border-color: darken($pewter, 20%);
    color: darken($pewter, 20%);
  }
  &:disabled,
  &.btn-disabled {
    border-color: $pewter-light;
    color: $pewter-light;
  }
}
.btn-outlined-whale,
a.btn-outlined-whale {
  border-color: $whale-light;
  color: $whale-light;
  &:hover {
    border-color: lighten($whale, 30%);
    color: lighten($whale, 30%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: $whale-light;
    color: $whale-light;
  }
}
.btn-outlined-sunglow,
a.btn-outlined-sunglow {
  border-color: $sunglow;
  color: $sunglow;
  &:hover {
    border-color: darken($sunglow, 15%);
    color: darken($sunglow, 15%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: $sunglow-light;
    color: $sunglow-light;
  }
}
.btn-outlined-baltic,
a.btn-outlined-baltic {
  border-color: $baltic;
  color: $baltic;
  &:hover {
    border-color: lighten($baltic, 30%);
    color: lighten($baltic, 30%);
  }
  &:disabled,
  &.btn-disabled  {
    border-color: $baltic-light;
    color: $baltic-light;
  }
}

// With icon
.btn-icon object[type='image/svg+xml'] {
  vertical-align: middle;
  width: 100%;
  max-width: 25px;
  margin-right: 10px;
}
