.cursor-auto {
  cursor: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-no {
  cursor: not-allowed;
}
.cursor-text {
  cursor: text;
}

.us-auto {
  user-select: auto;
}
.us-none {
  user-select: none;
}

@media (--breakpoint-sm) {
  .us-auto-sm {
    user-select: auto;
  }
  .us-none-sm {
    user-select: none;
  }
}
@media (--breakpoint-md) {
  .us-auto-md {
    user-select: auto;
  }
  .us-none-md {
    user-select: none;
  }
}
@media (--breakpoint-lg) {
  .us-auto-lg {
    user-select: auto;
  }
  .us-none-lg {
    user-select: none;
  }
}
@media (--breakpoint-xl) {
  .us-auto-xl {
    user-select: auto;
  }
  .us-none-xl {
    user-select: none;
  }
}
