/*
  Font Color

*/

.teal { color: var(--color-teal); }
.navy { color: var(--color-navy); }
.sea { color: var(--color-sea); }
.gold { color: var(--color-gold); }
.jet { color: var(--color-jet); }
.ghost { color: var(--color-ghost); }

.black { color: black; }
.white { color: white; }
.gray { color: var(--gray); }

@media (--breakpoint-sm) {
  .teal-sm { color: var(--color-teal); }
  .navy-sm { color: var(--color-navy); }
  .sea-sm { color: var(--color-sea); }
  .gold-sm { color: var(--color-gold); }
  .jet-sm { color: var(--color-jet); }
  .ghost-sm { color: var(--color-ghost); }

  .white-sm { color: white; }
  .black-sm { color: black; }
  .gray-sm { color: var(--gray); }
}
@media (--breakpoint-md) {
  .teal-md { color: var(--color-teal); }
  .navy-md { color: var(--color-navy); }
  .sea-md { color: var(--color-sea); }
  .gold-md { color: var(--color-gold); }
  .jet-md { color: var(--color-jet); }
  .ghost-md { color: var(--color-ghost); }

  .white-md { color: white; }
  .black-md { color: black; }
  .gray-md { color: var(--gray); }
}
@media (--breakpoint-lg) {
  .teal-lg { color: var(--color-teal); }
  .navy-lg { color: var(--color-navy); }
  .sea-lg { color: var(--color-sea); }
  .gold-lg { color: var(--color-gold); }
  .jet-lg { color: var(--color-jet); }
  .ghost-lg { color: var(--color-ghost); }

  .white-lg { color: white; }
  .black-lg { color: black; }
  .gray-lg { color: var(--gray); }
}
@media (--breakpoint-xl) {
  .teal-xl { color: var(--color-teal); }
  .navy-xl { color: var(--color-navy); }
  .sea-xl { color: var(--color-sea); }
  .gold-xl { color: var(--color-gold); }
  .jet-xl { color: var(--color-jet); }
  .ghost-xl { color: var(--color-ghost); }

  .white-xl { color: white; }
  .black-xl { color: black; }
  .gray-xl { color: var(--gray); }
}
