/*
  Font Color

*/

.whale { color: var(--color-whale); }
.whale-light { color: var(--color-whale-light); }
.whale-dark { color: var(--color-whale-dark); }

.seashell { color: var(--color-seashell); }
.seashell-light { color: var(--color-seashell-light); }
.seashell-dark { color: var(--color-seashell-dark); }

.baltic { color: var(--color-baltic); }
.baltic-light { color: var(--color-baltic-light); }
.baltic-dark { color: var(--color-baltic-dark); }

.teal { color: var(--color-teal); }
.gold { color: var(--color-gold); }
.navy { color: var(--color-navy); }

.pewter { color: var(--color-pewter); }
.pewter-light { color: var(--color-pewter-light); }
.pewter-dark { color: var(--color-pewter-dark); }

.white { color: white; }
.black { color: black; }
.gray { color: var(--gray); }

@media (--breakpoint-sm) {
  .white-sm { color: white; }
  .black-sm { color: black; }
  .gray-sm { color: var(--gray); }
}
@media (--breakpoint-md) {
  .white-md { color: white; }
  .black-md { color: black; }
  .gray-md { color: var(--gray); }
}
@media (--breakpoint-lg) {
  .white-lg { color: white; }
  .black-lg { color: black; }
  .gray-lg { color: var(--gray); }
}
@media (--breakpoint-xl) {
  .white-xl { color: white; }
  .black-xl { color: black; }
  .gray-xl { color: var(--gray); }
}
