.sans-light {
  font-family: 'Avenir Light', #{$sans-default};
  font-weight: 100;
  font-style: normal;
}
.sans-light-italic {
  font-family: 'Avenir Light Italic', #{$sans-default};
  font-weight: 100;
  font-style: oblique;;
}
.sans-med {
  font-family: 'Avenir Medium', #{$sans-default};
  font-weight: 400;
  font-style: normal;
}
.sans-med-italic {
  font-family: 'Avenir Medium Italic', #{$sans-default};
  font-weight: 400;
  font-style: oblique;
}
.sans-bold {
  font-family: 'Avenir Bold', #{$sans-default};
  font-weight: 700;
  font-style: normal;
}
.sans-bold-italic {
  font-family: 'Avenir Bold Italic', #{$sans-default};
  font-weight: 700;
  font-style: oblique;;
}

.serif-light {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 400;
}
.serif-light-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  font-weight: 400;
}
.serif-med {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 600;
}
.serif-med-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  font-weight: 600;
}
.serif-bold {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: normal;
  font-weight: 700;
}
.serif-bold-italic {
  font-family: "Mercury Display A", "Mercury Display B";
  font-style: italic;
  font-weight: 700;
}
