.label {
  font-family: "Avenir Bold", #{$sans-default};
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.input-text {
  font-family: "Avenir Medium", #{$sans-default};
  font-weight: 400;
  font-style: normal;
}

// Resets
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Base
.label {
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.input-text {
  padding: 0 12px;
  height: 2.75rem;
  border-width: 0.125rem;
  border-color: $form-border-color;
  border-radius: 0.188rem;
  border-style: solid;
  appearance: none;
  margin-bottom: 10px;
  &:focus {
    outline: 0;
    border-color: $form-border-color-focus;
    background-color: $form-background-color-focus;
  }
}

// Input States
.input-text-red {
  border-color: lighten($error, 10%);
  &:focus {
    border-color: $error;
    background-color: lighten($error, 30%);
  }
}
.input-text-green {
  border-color: lighten($success, 10%);
  &:focus {
    border-color: $success;
    background-color: lighten($success, 30%);
  }
}

// Text Inputs Sizes
.input-text-1 {
  padding: 0 10px;
  height: $form-height-1;
  font-size: $form-font-1;
}
.input-text-1 {
  padding: 0 15px;
  height: $form-height-3;
  font-size: $form-font-3;
}
