/**
* Forms
*/

/* Reset to basics */
.input-text,
.input-reset,
.input-select select,
.input-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-select select::-ms-expand {
  display: none;
}
fieldset {
  border: 0;
  padding: 0;
}

/* Group styles */
.input-text,
.input-select select,
.input-textarea {
  display: inline-block;
  outline: 0;
  border: 0.125rem solid var(--color-seashell-dark);
  padding: 0.5rem;
  border-radius: 0.188rem;
  transition: all ease-in-out 0.1s;
  &:focus {
    box-shadow: 0 0 0 2px color(var(--color-pewter-dark) a(35%));
    border: 0.125rem solid var(--color-pewter-dark);
  }
  &::placeholder {
    color: #9f9f9f;
  }
  &:-ms-input-placeholder {
    color: #9f9f9f;
  }
  &::-ms-input-placeholder {
    color: #9f9f9f;
  }
  &:-moz-placeholder {
    color: #9f9f9f;
  }
  &::-moz-placeholder {
    color: #9f9f9f;
    opacity: 1;
  }
}

/* Individual styles */
.input-select select {
  background-color: white;
  background-position: 99.5%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg width="25.3125" height="12.65625" viewBox="0 0 7 10" xmlns="http://www.w3.org/2000/svg"><path d="M.188 7.15C.084 7.06 0 6.866 0 6.74v-.246C0 6.22.232 6 .5 6h.248c.14 0 .335.075.432.162L3.5 8.25l2.32-2.088c.1-.09.287-.162.432-.162H6.5c.276 0 .5.23.5.494v.245c0 .136-.087.322-.188.41L3.5 9.987.188 7.148zm0-4.31L3.5 0l3.312 2.84c.1.086.188.272.188.41v.244c0 .265-.224.494-.5.494h-.248c-.145 0-.332-.072-.432-.16L3.5 1.75 1.18 3.827c-.097.087-.293.16-.432.16H.5c-.268 0-.5-.22-.5-.493V3.25c0-.13.084-.322.188-.41z" fill="%2396A3B6" fill-rule="evenodd"/></svg>');
}
.fieldset-border {
  border: 0.125rem solid #cecece;
  border-radius: 0.188rem;
}
.fieldset-radio,
.fieldset-check {
  padding: 0.75rem;
  & label:not(:last-of-type) {
    border-bottom: 0.125rem solid #cecece;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* Sizes */
.input-text.input-lg,
.input-select.input-lg select {
  padding: 1rem;
  background-position: 98.5%;
}

/* Checkbox & Radio */
.input-check,
.input-radio {
  position: absolute;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  left: -9999px;
}
.input-check + div,
.input-radio + div {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid #cecece;
  vertical-align: top;
}
.input-check + div {
  border-radius: 3px;
}
.input-radio + div {
  border-radius: 100%;
}
.input-check + div:hover,
.input-check ~ span:hover,
.input-radio + div:hover,
.input-radio ~ span:hover {
  cursor: pointer;
}
.input-check ~ span,
.input-radio ~ span {
  user-select: none;
}
.input-check:hover + div:after,
.input-radio:hover + div:after,
.input-check:focus + div:after,
.input-radio:focus + div:after {
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.13rem;
  background-color: lightGray;
}
.input-check:hover + div:after,
.input-check:focus + div:after {
  border-radius: 2px;
}
.input-radio:hover + div:after,
.input-radio:focus + div:after {
  border-radius: 100%;
}
.input-check:checked + div:after,
.input-radio:checked + div:after {
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.13rem;
  background-color: #869e95 !important;
}
.input-check:checked + div:after {
  border-radius: 2px;
}
.input-radio:checked + div:after {
  border-radius: 100%;
}

/* Groups */
.input-prepend {
  & .btn,
  &.btn,
  & input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.input-middle {
  & .btn,
  &.btn,
  & input {
    border-radius: 0;
  }
}
.input-append {
  & .btn,
  &.btn,
  & input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
