/*
  Headings

*/

h1 {
  font-size: var(--type-scale-7);
}
h2 {
  font-size: var(--type-scale-6);
}
h3 {
  font-size: var(--type-scale-5);
}
h4 {
  font-size: var(--type-scale-4);
}
h5 {
  font-size: var(--type-scale-3);
}
h6 {
  font-size: var(--type-scale-2);
}
