/*
  Headings

*/

h1,
.h1 {
  font-size: config("textSizes.5xl");
}
h2,
.h2 {
  font-size: config("textSizes.3xl");
}
h3,
.h3 {
  font-size: config("textSizes.2xl");
}
h4,
.h4 {
  font-size: config("textSizes.xl");
}
h5,
.h4 {
  font-size: config("textSizes.lg");
}
h6,
.h4 {
  font-size: config("textSizes.sm");
}
