/*
  LINKS

*/

.link {
  color: color(var(--color-whale) lightness(25%));
  &:hover,
  &:focus { color: color(var(--color-whale) lightness(55%)); }
  &:focus { outline: 1; }
}

.link-baltic {
  color: var(--color-baltic);
  &:hover { color: color(var(--color-baltic) lightness(65%)); }
  &:focus { outline: 1; }
}
.link-pewter {
  color: var(--color-pewter);
  &:hover { color: color(var(--color-pewter) lightness(40%)); }
  &:focus { outline: 1; }
}

.link-danger {
  color: var(--color-error);
  &:hover { color: color(var(--color-error) lightness(40%)); }
  &:focus { outline: 1; }
}
.link-success {
  color: var(--color-success);
  &:hover { color: color(var(--color-success) lightness(40%)); }
  &:focus { outline: 1; }
}
.link-warn {
  color: var(--color-warn);
  &:hover { color: color(var(--color-warn) lightness(40%)); }
  &:focus { outline: 1; }
}
