/*
  LINKS

*/

/*
   LINKS
*/

.link,
.link:link,
.link:visited,
.link:hover,
.link:active,
.link:focus { transition: color .1s ease-in; }
.link:focus { outline: 1px dotted currentColor }

.link,
.link-navy {
  color: var(--color-navy);
  &:hover { color: #54B3E9; }
  &:focus { outline: 1; }
}
.link-baltic {
  color: var(--color-baltic);
  &:hover { color: #A5A5A7; }
  &:focus { outline: 1; }
}
.link-teal {
  color: var(--color-teal);
  &:hover { color: #2a403d; }
  &:focus { outline: 1; }
}
.link-gold {
  color: var(--color-gold);
  &:hover { color: #907833; }
  &:focus { outline: 1; }
}

.link-danger {
  color: var(--color-error);
  &:hover { color: #73171B; }
  &:focus { outline: 1; }
}
.link-success {
  color: var(--color-success);
  &:hover { color: color(var(--color-success) lightness(40%)); }
  &:focus { outline: 1; }
}
.link-warn {
  color: var(--color-warn);
  &:hover { color: color(var(--color-warn) lightness(40%)); }
  &:focus { outline: 1; }
}


/* v3.0.8 and older */

.link-whale {
  color: var(--color-navy);
  &:hover,
  &:focus { color: #54B3E9; }
  &:focus { outline: 1; }
}
.link-pewter {
  color: var(--color-pewter);
  &:hover { color: #4c6f64; }
  &:focus { outline: 1; }
}
