/*
  Opacity

*/

.o-100 { opacity: 1;    }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0; }

@media (--breakpoint-sm) {
  .o-100-sm { opacity: 1;    }
  .o-90-sm  { opacity: .9;   }
  .o-80-sm  { opacity: .8;   }
  .o-70-sm  { opacity: .7;   }
  .o-60-sm  { opacity: .6;   }
  .o-50-sm  { opacity: .5;   }
  .o-40-sm  { opacity: .4;   }
  .o-30-sm  { opacity: .3;   }
  .o-20-sm  { opacity: .2;   }
  .o-10-sm  { opacity: .1;   }
  .o-05-sm  { opacity: .05;  }
  .o-025-sm { opacity: .025; }
  .o-0-sm   { opacity: 0; }
}
@media (--breakpoint-md) {
  .o-100-md { opacity: 1;    }
  .o-90-md  { opacity: .9;   }
  .o-80-md  { opacity: .8;   }
  .o-70-md  { opacity: .7;   }
  .o-60-md  { opacity: .6;   }
  .o-50-md  { opacity: .5;   }
  .o-40-md  { opacity: .4;   }
  .o-30-md  { opacity: .3;   }
  .o-20-md  { opacity: .2;   }
  .o-10-md  { opacity: .1;   }
  .o-05-md  { opacity: .05;  }
  .o-025-md { opacity: .025; }
  .o-0-md   { opacity: 0; }
}
@media (--breakpoint-lg) {
  .o-100-lg { opacity: 1;    }
  .o-90-lg  { opacity: .9;   }
  .o-80-lg  { opacity: .8;   }
  .o-70-lg  { opacity: .7;   }
  .o-60-lg  { opacity: .6;   }
  .o-50-lg  { opacity: .5;   }
  .o-40-lg  { opacity: .4;   }
  .o-30-lg  { opacity: .3;   }
  .o-20-lg  { opacity: .2;   }
  .o-10-lg  { opacity: .1;   }
  .o-05-lg  { opacity: .05;  }
  .o-025-lg { opacity: .025; }
  .o-0-lg   { opacity: 0; }
}
@media (--breakpoint-xl) {
  .o-100-xl { opacity: 1;    }
  .o-90-xl  { opacity: .9;   }
  .o-80-xl  { opacity: .8;   }
  .o-70-xl  { opacity: .7;   }
  .o-60-xl  { opacity: .6;   }
  .o-50-xl  { opacity: .5;   }
  .o-40-xl  { opacity: .4;   }
  .o-30-xl  { opacity: .3;   }
  .o-20-xl  { opacity: .2;   }
  .o-10-xl  { opacity: .1;   }
  .o-05-xl  { opacity: .05;  }
  .o-025-xl { opacity: .025; }
  .o-0-xl   { opacity: 0; }
}
