/*
* Typography
*
*/

body {
  font-family: config("fonts.sans");
  font-size: 16px;
  color: config("colors.baltic");
  text-rendering: optimizeSpeed;
}

.p {
  margin-top: 0;
  margin-bottom: 30px;
}
