// ======================
// Colors
// ======================

$blue: #00B0E9 !default;

$pewter: #91B1A7 !default;
$pewter-light: #B2C8C1 !default;
$pewter-dark: #829E95 !default;

$whale: #083549 !default;
$whale-light: #52717F !default;
$whale-dark: #032636 !default;

$sunglow: #FDD230 !default;
$sunglow-light: #FDDF6E !default;
$sunglow-dark: #E3BC2B !default;

$baltic: #3E3E3F;
$baltic-light: #8B8B8C !default;
$baltic-dark: #313132 !default;

$seashell: #E6E6E6 !default;
$seashell-light: #F0F0F0 !default;
$seashell-dark: #CECECE !default;

$whitesmoke: whitesmoke;
$whitesmoke-light: #F9F9F9;

$error: #E2363F !default;
$warn: #EDB95E !default;
$success: #99D161 !default;

// ======================
// Typography
// ======================

$sans-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$serif-default: "Georgia", "Lucida Bright", "Times New Roman", Times, serif !default;

$base-font-color: $baltic;
$base-border-color: $baltic;

$font-directory: "../fonts/";

// ======================
// Forms
// ======================

$form-height-1: 36px !default;
$form-height-2: 44px !default;
$form-height-3: 53px !default;

$form-font-1: 14px !default;
$form-font-2: 16px !default;
$form-font-3: 18px !default;

$form-border-width: 2px !default;
$form-border-color-focus: $blue !default;
$form-background-color-focus: lighten($form-border-color-focus, 50%) !default;
$form-radius: 3px !default;

$form-border-color: $whale;
$form-border-color-focus: $whale-light;
$form-background-color-focus: lighten($form-border-color-focus, 55%);

// ======================
// Buttons
// ======================

$button-border-width: 0.125rem !default;
$button-border-radius: 0.25rem !default;
$button-font-family: inherit !default;
$button-font-size: 16px !default;
$button-font-weight: normal !default;
$button-font-color: white !default;
$button-bg-color: $blue !default;
$button-transition-duration: .15s !default;

$button-y-1: 0.563rem !default;
$button-x-1: 0.625rem !default;
$button-y-2: 0.625rem !default;
$button-x-2: 0.938rem !default;
$button-y-3: 0.625rem !default;
$button-x-3: 1.875rem !default;
