@tailwind preflight;
@tailwind components;

@import "./_base.css";
@import "./_buttons.css";
@import "./_forms.css";
@import "./_headings.css";
@import "./_images.css";
@import "./_links.css";
@import "./_media-queries.css";
@import "./_selection.css";
@import "./_typography.css";

.test {
  @apply text-5xl;
  font-size: responsive config("textSizes.3xl") config("textSizes.5xl");
  font-range: config("screens.sm") config("screens.lg");
}

:ie10plus(.test) {
  color: config("colors.red");
}

@tailwind utilities;
