@mixin sans-light {
  font-family: "Avenir Light", #{$sans-default};
  font-weight: 100;
  font-style: normal;
}
@mixin sans-light-italic {
  font-family: "Avenir Light Italic", #{$sans-default};
  font-weight: 100;
  font-style: oblique;;
}
@mixin sans-med {
  font-family: "Avenir Medium", #{$sans-default};
  font-weight: 400;
  font-style: normal;
}
@mixin sans-med-italic {
  font-family: "Avenir Medium Italic", #{$sans-default};
  font-weight: 400;
  font-style: oblique;
}
@mixin sans-bold {
  font-family: "Avenir Bold", #{$sans-default};
  font-weight: 700;
  font-style: normal;
}
@mixin sans-bold-italic {
  font-family: "Avenir Bold Italic", #{$sans-default};
  font-weight: 700;
  font-style: oblique;;
}

@mixin serif-light {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: normal;
  font-weight: 400;
}
@mixin serif-light-italic {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: italic;
  font-weight: 400;
}
@mixin serif-med {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: normal;
  font-weight: 600;
}
@mixin serif-med-italic {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: italic;
  font-weight: 600;
}
@mixin serif-bold {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: normal;
  font-weight: 700;
}
@mixin serif-bold-italic {
  font-family: "Mercury Display A", "Mercury Display B", #{$serif-default};
  font-style: italic;
  font-weight: 700;
}


.sans-light {
  @include sans-light;
}
.sans-light-italic {
  @include sans-light-italic;
}
.sans-med {
  @include sans-med;
}
.sans-med-italic {
  @include sans-med-italic;
}
.sans-bold {
  @include sans-bold;
}
.sans-bold-italic {
  @include sans-bold-italic;
}

.serif-light {
  @include serif-light;
}
.serif-light-italic {
  @include serif-light-italic;
}
.serif-med {
  @include serif-med;
}
.serif-med-italic {
  @include serif-med-italic;
}
.serif-bold {
  @include serif-bold;
}
.serif-bold-italic {
  @include serif-bold-italic;
}
