.label {
  font-family: "Avenir Bold", #{$sans-default};
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.input-text {
  font-family: "Avenir Medium", #{$sans-default};
  font-weight: 400;
  font-style: normal;
}
