// ======================
// Colors
// ======================
$pewter-light: #B2C8C1 !default;
$pewter: #91B1A7 !default;
$pewter-dark: #829E95 !default;

$whale-light: #52717F !default;
$whale: #083549 !default;
$whale-dark: #032636 !default;

$sunglow-light: #FDDF6E !default;
$sunglow: #FDD230 !default;
$sunglow-dark: #E3BC2B !default;

$baltic-light: #8B8B8C !default;
$baltic: #3E3E3F;
$baltic-dark: #313132 !default;

$seashell-light: #F0F0F0 !default;
$seashell: #E6E6E6 !default;
$seashell-dark: #CECECE !default;
