/*

Instructions:
This file directly overrides Bolt's config file. Override or set new variables here.

Table of Contents:
- Colors
- Forms

*/

// ======================
// Colors
// ======================

$pewter: #91B1A7 !default;
$pewter-light: #B2C8C1 !default;
$pewter-dark: #829E95 !default;

$whale: #083549 !default;
$whale-light: #52717F !default;
$whale-dark: #032636 !default;

$sunglow: #FDD230 !default;
$sunglow-light: #FDDF6E !default;
$sunglow-dark: #E3BC2B !default;

$baltic: #3E3E3F;
$baltic-light: #8B8B8C !default;
$baltic-dark: #313132 !default;

$seashell: #E6E6E6 !default;
$seashell-light: #F0F0F0 !default;
$seashell-dark: #CECECE !default;

$base-font-color: $baltic;
$base-border-color: $baltic;

// ======================
// Form
// ======================

$form-border-color-focus: $whale;
$form-background-color-focus: lighten($form-border-color-focus, 78%);
